html, body {
    height:100%;
    margin: 0px;
    padding:0px;
}

* {
    padding: 0px;
    margin:0px;
    font-family: sans-serif;
}
.window-message-container {
    height: 100%;
    width:100%;
}
.window-message {
    position: absolute;
    top: 50%;
    right:50%;
    transform-origin: 100% 0%;
    transform: translateY(-50%) translateX(50%);
    width:400px;
    border: 3px solid brown;
    transition:all linear 0.2s;
    opacity: 1;
}

.window-message.ng-leave {

}
.window-message.ng-hide {
    transform: scale(0.00001,0.00001);

    /*    height:0px;
        width: 0px;
        display: block !important;*/
}
.window-message h3 {
    margin-top: 10px;
    text-align: center;
}
.window-message ul {
    list-style-type: none;
    padding: 0px;
}
.window-message li {
    width:380;
    height:30px;
    line-height:30px;
    border:1px black solid;
    margin-bottom: 5px;
    padding:4px;
}

/*.table-container {
    margin: auto;
    display:inline-block;
}*/
.board {
    display:table;
    margin:0px;

}
.board .row {
    display: table-row;
}
.board .field {
    display:table-cell;
    border: 1px solid black;
    margin:0px;
    padding: 0px;
    font-size: 0px;

}
div.full-screen-message {
    width: 100%;
    height: 100%;
}
div.container {
    display: inline-block;
    margin:auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

div.info-panel-container {
    display:block;

}

div.info-panel {
    border: 1px solid black;
    padding: 4px;
    font-size: 14px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}
@media (orientation: landscape) {
    .board {
        width:100vh;
        height:100vh;
    }

    div.info-panel-container {
        width:200px; 
        height:100vh; 
        float: left
    }

    div.table-container {
        background-color:red;
        display:inline-block;
        float: left;
    }
}

@media (orientation: portrait) {
    .board {
        width:100vw;
        height:100vw;
    }

    div.info-panel-container {
        width:100vw; 
        height:100px; 
    }
    div.table-container {
        background-color:red;
        display:inline-block;
    }
}
