<div class="full-screen-message-container" ng-show="!isGameValid()">
    <div class="full-screen-message">
        Sorry, this game is not valid...
        <br />
        <a class="button button-expanded" href="#/">Go to main menu</a>
    </div>
</div>

<div class="full-screen-message-container" ng-show="secondPlayerLeftTheGame">
    <div class="full-screen-message">
        <h3>Second player left the game ;(</h3>
        <br />
        <a class="button button-expanded" href="#/">Go to main menu</a>
    </div>
</div>

<div class="full-screen-message-container" ng-show="connectionClosedByServer">
    <div class="full-screen-message">
        <h3>Connection closed by server. Sorry...</h3>
        <br />
        <a class="button button-expanded" href="#/">Go to main menu</a>
    </div>
</div>

<div class="full-screen-message-container" ng-show="playerWin || opponentWin">
    <div class="full-screen-message">
        <h3 ng-show="playerWin">You win!</h3>
        <h3 ng-show="opponentWin">You lost...</h3>
        <br />
        <a class="button button-expanded" href="#/">Go to main menu</a>
    </div>
</div>

<div class="full-screen-message-container" ng-show="isNotPlayerTurnMessageShow">
    <div class="full-screen-message">
        <h3>It's not your turn</h3>
        <br />
        <a class="button button-expanded" ng-click='isNotPlayerTurnMessageShow = false'>OK</a>
    </div>
</div>

<div class="game-area-container" ng-show="isGameValid()">
    <div class="board-container">
        <div class="board">
            <div class="row" ng-repeat="row in getBoard().fields">
                <div class="field" ng-repeat="field in row" ng-click="makeMove($index, $parent.$index)" ng-class="{'last-move': getBoard().isLastMove($index, $parent.$index)}">
                    <div ng-show="field.type == 'black'" class="black-pawn"></div>
                    <div ng-show="field.type == 'white'" class="white-pawn"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="info-panel-container">
        <div class="info-panel">
            Your color:
            <div class="free-pawn-container">
                <div class="black-pawn" ng-show="getPlayerColor() == 'black'"></div>
                <div class="white-pawn" ng-show="getPlayerColor() == 'white'"></div>
            </div>
            <br />
            <span ng-show="isPlayerTurn()">Your turn</span>
            <span ng-hide="isPlayerTurn()">Opponent's turn</span>

            <br />
            <a class="button" href="#/">Go to main menu</a>
        </div>
    </div>
</div>

