<div class="full-screen-message-container" ng-show="!isGameValid()">
    <div class="full-screen-message">
        Sorry, this game is not valid.
        <br />
        <a href="#/">Go to main menu</a>
    </div>
</div>

<div class="full-screen-message-container" ng-show="secondPlayerLeftTheGame">
    <div class="full-screen-message">
        Second player left the game ;(
        <br />
        <a href="#/">Go to main menu</a>
    </div>
</div>

<div class="container" ng-show="isGameValid()">
    <div class="table-container">
        <div class="board">
            <div class="row" ng-repeat="row in getBoard().fields">
                <div class="field" ng-repeat="field in row" ng-click="makeMove($index, $parent.$index)">
                    <div ng-show="field.type=='black'" class="black"></div>
                    <div ng-show="field.type=='white'" class="white"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="info-panel-container">
        <div class="info-panel">
            <span ng-show="isPlayerTurn()">Your turn</span>
            <span ng-hide="isPlayerTurn()">Opponent's turn</span>
            
            <hr />
            <a href="#/">Go to main menu</a>
        </div>
    </div>
</div>

