

<div class="animated-message full-screen-message" ng-show="isGreetingMessageShowed()">
    <h3>Five in row game</h3>
    <div class="menu">
        <a class="button button-expanded button-disabled">New public game</a>
        <a ng-click="createPrivateGame()" class="button button-expanded">New private game</a>
        <a class="button button-expanded button-disabled">New game vs AI</a>
    </div>
</div>
<div class="animated-message full-screen-message" ng-show="isWaitingForSecondPlayer()">
    <h3>Waiting for second player</h3>
    Send to your friend this link:<br/>
    <a class="invitation-link" href="{{newPrivateGameJoinUrl}}">{{newPrivateGameJoinUrl}}</a>
</div>


<div class="full-screen-message-container" ng-show="message !== null">
    <div class="full-screen-message">
        <h3>{{message.content}}</h3>
        <br />
        <a class="button button-expanded" ng-click="resetCtrl()">Go to main menu</a>
    </div>
</div>

